.banner {
  background: url('img/lp2-header.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  .hero-body {
    padding-bottom: 1rem !important;
    padding-top: 7rem !important;
  }
  &-footer {
    padding: 1rem 0 .5rem;
    p {
      padding: 0 0 .5rem;
    }
    background: rgba(darken($primary, 10%),
    .8);
  }
}

.hr {
  background-color: $primary;
  border: none;
  display: block;
  height: 3px;
  margin: 2rem 0;
  width: 80%;
}

.timeline {
  ol {
    list-style: none;
    counter-reset: count;
  }
  li {
    position: relative;
    padding: 10px;
  }
  li a {
    color: gray;
  }
  li:after {
    content: counter(count);
    color: $primary;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #EEEDF0;
    position: absolute;
    left: -22px;
    top: 20%;
    text-align: center;
    padding-top: 2px;
    border: 2px solid $primary;
  }
  li:not(:last-child)::before {
    content: '';
    width: 2px;
    height: 100%;
    background: $primary;
    position: absolute;
    left: -8px;
    top: 50%;
  }
  ol li {
    counter-increment: count;
  }
  p {
    margin-left: 2rem;
    color: #282A2C;
    &:nth-child(even) {
      padding-bottom: 2rem;
    }
  }
}

.side-back {
  background: url('img/lp2-lateral.jpg');
  background-attachment: fixed;
  background-position: 96% 0px;
  background-repeat: no-repeat;
  background-size: 50% 90%;
  position: relative;
  .title {
    position: absolute;
    bottom: 2rem;
  }
}

.require {
  background: #EEEDF0;
  .hr {
    margin-left: -10%;
    width: 120%;
  }
}

$opacity: .85;
.information {
  background: linear-gradient(141deg, rgba(#fb4e02, $opacity) 0%, rgba(#F3933D, $opacity) 71%, rgba(#f9bc51, $opacity) 100%), url('img/lp2-header.jpg') !important;
  background-attachment: fixed !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.footer {
  p {
    margin-bottom: .5rem;
  }
  a {
    color: #666666;
  }
  .group {
    .title {
      margin-bottom: -2.2rem;
      margin-top: 2rem;
      span {
        background-color: #EEEDF0;
        padding: 2rem;
      }
    }
    hr {
      background: #666666;
      height: 1px;
    }
  }
}

.form {
  z-index: 1;
  &.card {
    background: rgba(255, 255, 255, .85);
  }
}

.button.is-small {
  border-radius: 3px;
  padding-left: .5rem;
  padding-right: .5rem;
  font-weight: 500;
}

.underlined {
  text-decoration: underline #666666;
  cursor: pointer;
}

.underlined-white {
  text-decoration: underline #ffffff;
  cursor: pointer;
}

.is-size-8 {
  font-size: .7rem;
}

.step-container {
  margin-top: -30px;
}

.steps .step-item .step-marker {
  border-width: 1px;
  background-color: $primary;
}

.steps .step-item:not(:first-child)::before {
  height: 1px;
}

.steps .step-item::before {
  background: $primary;
}